<script src="https://kit.fontawesome.com/49d0f12130.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<h3>Contact Us</h3>
<div style="font-size: 3vh;">
    <a href="tel:07792289662"><span class="material-symbols-outlined">phone_in_talk</span></a>
    <a href=""><i class="fa-regular fa-envelope"></i></a>
    <a href="https://wa.me/07792289662"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="https://m.me/piandchips"><i class="fa-brands fa-facebook-messenger"></i></a>
    <a href="https://discord.gg/3PUWkw9awF"><i class="fa-brands fa-discord"></i></a>
</div>
